@use '../../../static/css/response.scss' as *;

.indexPage {
    background-color: #0003;
}

.elementsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
    button {
        width: 100%;
        padding: 1rem;
        border-radius: 8px;
        color: var(--my-minor);
        border: 1px solid var(--my-minor);
        &:hover {
            background-color: #0004;
        }
    }
}