@use '../../../static/css/response.scss' as *;

.mainPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: start;
    align-content: start;

    .headerContent {
        width: 100%;
    }
    .pageContent {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-content: start;

        .sectionContainer {
            width: 100%;
            height: calc(100vh - var(--header-h));
            transition: all 0.5s ease-in-out;
            overflow: auto;
            @include md {
                &.sidebarOpen {
                    width: calc(100vw - var(--side-bar-w));
                }
                &.menubarOpen {
                    width: calc(100vw - var(--menu-bar-w));
                }
                &.bothOpen {
                    width: calc(100vw - var(--side-bar-w) - var(--menu-bar-w));
                }
            }

            .contentContainer {
                .pageTitle {
                    width: 100%;
                    border-bottom: 1px solid;
                    padding: 5px 15px;
                    font-weight: bolder;
                    font-size: 1.3rem;
                }
            }
        }
    }
}
