@use '../../../static/css/response.scss' as *;

.mainPage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .mainContent {
        display: flex;
        width: 100%;
        height: calc(100vh - var(--header-h));
    }

    .pageTitle {
        width: 100%;
        border-bottom: 1px solid;
        padding: 5px 15px;
        font-weight: bolder;
        font-size: 1.3rem;
    }

    .sectionContainer {
        display: flex;
        justify-content: center;
        align-content: start;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow: scroll;
        transition: all 0.5s ease-in-out;

        &.menubarOpen {
            width: calc(100vw - var(--menu-bar-w));
        }

        @include md {
            &.sidebarOpen {
                width: calc(100vw - var(--side-bar-w));
            }
            &.bothOpen {
                width: calc(100vw - var(--side-bar-w) - var(--menu-bar-w));
            }
        }
        .contentContainer {
            width: 100%;
            height: 100%;
        }
    }
}
