@use '../../../static/css/response.scss' as *;

.menuBarContent {
    background: var(--my-major);
    color: white;
    height: calc(100vh - var(--header-h));
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: start;
    flex-wrap: wrap;
    // border-left: 1px solid #00ffff;
    // border-left: 1px solid var(--my-minor);
    transition: all 0.5s ease-in-out;
    z-index: 1;
    position: fixed;
    right: 0;
    overflow: hidden;
    top: var(--header-h);

    @include md {
        width: var(--menu-bar-w);
        position: relative;
        position: sticky;
        // top: 60px;
    }

    &.hiddeBar {
        width: 0;
        // border-left: 1px solid transparent;
    }
}