@use '../../../static/css/response.scss' as *;

.SideBarContent {
    background: var(--my-primary);
    color: white;
    height: calc(100vh - var(--header-h));
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    border-right: 1px solid white;
    transition: all 0.5s ease-in-out;
    // z-index: 1;
    position: fixed;
    overflow: hidden;
    top: var(--header-h);

    .elementsList {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        .link {
            border: 1px solid white;
            width: 90%;
            padding: 5px;
            text-align: center;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;
            box-shadow:  0px 0px 0px #094776, 0px 0px 0px #0c61a0;

            &:hover {
                border: 1px solid #b33f77;
                border: none;
                background: linear-gradient(145deg, #0b5a95, #094c7d);
                box-shadow:  1px 1px 3px #094776,
                            -1px -1px 3px #0c61a0;

                color: white;
            }
            &.linkSelected {
                background-color: var(--my-success);
                border: 1px solid var(--my-success);
                color: white;

                background: #198754;
                box-shadow: inset 2px 2px 6px #0e4f31,
                            inset -2px -2px 6px #22b36f;
                &:hover {
                    background-color: var(--my-success);
                    color: white;
                }
            }
        }
    }

    @include md {
        width: var(--side-bar-w);
        position: relative;
        position: sticky;
        // top: 60px;
    }

    &.hiddeBar {
        width: 0;
        height: 0;
    }
}